* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {

  background-color: #4f6251;
  color: #113014;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #102719;
  color: white;
}

.section {
  padding: 2rem;
  background: white;
  margin: 1rem auto;
  max-width: 900px;
  border-radius: 8px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills span {
  background: #ddeed5;
  padding: 6px 12px;
  border-radius: 30px;
}

.footer {
  text-align: center;
  padding: 1rem;
  background: #102719;
  color: white;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 10px 18px;
  background-color: #7af67c;
  color: #0f172a;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #43f46f;
  transform: translateY(-2px);
}

.theme-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  margin-left: auto;
}

.dark-mode {
  background-color: #0f172a;
  color: #e5e7eb;
}

.dark-mode .section {
  background-color: #1e293b;
  color: #e5e7eb;
}

.dark-mode .section h2 {
  color: #38bdf8;
}

.dark-mode .skills span {
  background: #334155;
  color: #e5e7eb;
}

.dark-mode .header {
  background-color: #070a12;
}

.dark-mode .footer {
  background-color: #070a12;
}

.dark-mode a {
  color: #081e28;
}


@media (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
}
