* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {

  background-color: #4f6251;
  color: #113014;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
  background-color: #102719;
  color: white;
}

.section {
  padding: 2rem;
  background: white;
  margin: 1rem auto;
  max-width: 900px;
  border-radius: 8px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills span {
  background: #ddeed5;
  padding: 6px 12px;
  border-radius: 30px;
}

.footer {
  text-align: center;
  padding: 1rem;
  background: #102719;
  color: white;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
}
